

.form__title{
    color: var(--medium-blue-color)
}

.login__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8% auto 5% ;
    padding: 50px 10px ;
    background-color: var(--light-transparent-blue-color);
    border-radius: 15px;
    width: 100%;
}





@media (max-width: 800px) {
    .login__form{
        width: 60%;
    }

    .login__form input{
        width: 100%;
    }
}