 h6{
    text-align: start;
}

.style__m__link h6:hover{
    text-decoration: none !important;
    font-weight: bold;
    color: var(--dark-blue-color);
}

.style__m__link a:hover{
    text-decoration: none !important;
    font-weight: bold;
    color: var(--dark-blue-color);
}