
.EldersList{
    margin-left: 21%;
}
.list__items{
    text-align: left;
}

.green{
    color: green;
}

.orange{
    color: orange;
}

.red{
    color: red;
}

@media only screen and (max-width: 768px) {

    .EldersList{
        margin-left: auto;
    }   
    
}

@media only screen and (max-width: 992px) {

    .EldersList{
        margin-left: auto;
    }   
    

    .hide__element{
        display: none;
    }
}