.green{
    color: green;
}

.orange{
    color: orange;
}

.red{
    color: red;
}

.btns__wrapper{
    width: 40%;
    height: 10%;
}

.p__area__wrapper{
    position: relative;
    margin: 80px auto;
}

.box__color{
    background-color: rgba(148, 214, 245, 0.247);
}


