.menu__item{
    text-decoration: none !important;
    color: #0f4881; 
}

.menu__item:hover{
    text-decoration: underline!important;
}

.user__style:hover{
    text-decoration: none !important;
}

.user__style{
    color: var(--dark-blue-color) !important;
    font-weight: bold;
}